html,
body {
  background: #f5f3e6;
  font-family: 'PT Serif', serif; }

.navbar {
  background: #f5f3e6;
  margin-top: 4%;
  font-family: 'PT Serif', serif; }
  .navbar li a {
    color: #2e3330; }
  .navbar a:hover {
    color: grey; }
  .navbar .navbar-collapse {
    text-align: center; }

.container .row {
  height: 10vh;
  padding-top: 10vh;
  width: 80vw; }
  .container .row .col-6 {
    margin-top: 5vh; }
  .container .row .photo {
    text-align: right; }
    .container .row .photo .profilepic {
      width: 50%;
      border-radius: 500px;
      border: solid 4px white; }
  .container .row .description {
    text-align: left; }
    .container .row .description h5 {
      font-size: 1.1em;
      line-height: 1.45em;
      color: #636363; }
